@model List<DIANS_2.Models.Winery>

@{
    ViewBag.Title = "За нас";
}

<main aria-labelledby="title">
    <h2>Winery List</h2>

    <table>
        <tr>
            <th>Winery Name</th>
            <th>Winery City</th>
            <th>Winery Address</th>
        </tr>
        @if (Model != null)
        {
            foreach (var winery in Model)
            {
                <tr>
                    <td>@winery.Name</td>
                    <td>@winery.City</td>
                    <td>@winery.Address</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No wineries available</td>
            </tr>
        }
    </table>
</main>
