
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Tenor Sans' rel='stylesheet'>
    <title>@ViewBag.Title</title>
    <style>



        body {
            background-color: #EDDFB6;
            margin: 0;
            padding: 0;
            font-family: 'Tenor Sans';
        }


        .oval-button {
            display: inline-block;
            background-color: #81905F;
            color: #fff;
            text-decoration: none;
            text-align: center;
            padding-top: 5px;
            font-size: 22px;
            width: 160px; 
            height: 40px; 
            border-radius: 35px;
            border: none;
        }

        img, #mkd {
            width: 150px;
            height: 110px;
        }

        #mkd, .t {
            float: right;
        }

        .t {
            margin-top: 150px;
            margin-left: 300px;
        }

        h3 {
            font-size: 50px;
            font-weight: 100;
            color: #433F30;
        }

        #hcetiri {
            padding-bottom: 30px;
            font-size: 35px;
            color: #433F30;
            font-weight: 100;
            line-height: 50px;
        }

        #wine {
            width: 500px;
            height: 450px;
            padding: 50px;
        }

        #winee {
            width: 300px;
            height: 300px;
            padding: 130px;
        }
    </style>
</head>
<body>
    <main aria-labelledby="title">

        <span id="mkd">
            <img src="~/Pngtreenorth_macedonia_flag_vector_with_6821835.png">
        </span>
        <div class="t">
            <h3>Винум веритас</h3>
            <h4 id="hcetiri">Пронајдете ја вистината <br>во македонското вино</h4>
            <div id="kopce">
                <a href="@Url.Action("About", "Home")" class="oval-button">повеќе</a>
            </div>
        </div>
        <div id="winee">
            <img id="wine" src="/pngfind.com-wine-png-1016310.png">
        </div>
    </main>
</body>
</html>
@model List<DIANS_2.Models.Winery>

@{
    ViewBag.Title = "Winery List";
}




